@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');




nav{
 // height: 5rem;
  background-color: #111216;
  //box-shadow: 0 3px 20px rgba(255, 1, 1, 1);
  display: flex;

  position: relative;
  z-index: 10;
  border-bottom: solid 1px #fff;
  

 height: 2cm;
}



footer{

  display: block;
  height: 1.8cm;

  border-top: solid 1px #fff;
  background-color: #111216;

  padding-top: 1vh;

}




/*Styling logo*/
.logo{
  text-align: center;

  height: 100%;
 font-size: 20px; 
 display: flex;
  justify-content: center;
  align-items: center;

  
  background-color: #2196F3;
  

}

.logo a{
  display: inline-block;
}


.logo img {
  height: 5rem;
  width: 8rem;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding-left: 3vw;
  align-items: center;

 // text-transform: uppercase;
}
.nav-links li a{
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #eee;
  
}
.nav-links li a:hover {
  color: #61DAFB;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #2196F3;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}






